@charset "utf-8";

/*---------------------------------
  animation
---------------------------------*/

.fadein {
  -webkit-animation: fadein-anime 1s 1;
  animation: fadein-anime 1s 1;
}
// @-webkit-keyframes wing-anime {
//   0% {
//     -webkit-transform: translateY(0px);
//   }
//   100% {
//     -webkit-transform: translateY(15px);
//   }
// }
@keyframes fadein-anime {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}