@charset "utf-8";

/*---------------------------------
  color
---------------------------------*/

$black: #000;
$gray: #707070;
$white: #fff;
$orange: #ffaA2a;


/* background-color
-----------------------------*/

$bk-base: #000;
$bk-odd: #323232;
$bk-even: #272727;


/* border-color
-----------------------------*/

$border-base: #707070;